if facebook
    meta(property="og:title", content=site_title)
    meta(property="og:site_name", content=__('title'))
    meta(property="og:description", content=description || __('description'))
    meta(property="og:url", content=facebook.url || getLocaleUrl(""))
    meta(property="og:locale", content=fbLocale(getLocale()))
    for subLocale in locales
        if getLocale() != subLocale.id
            link(rel="og:locale:alternate", content=fbLocale(subLocale.id))
    if facebook.page
        meta(property="article:publisher", content=facebook.page)
    if facebook.image
        meta(property="og:image", content=domain+facebook.image)
    else if devMode
        -console.warn("Warning: No image for facebook set.");
    if facebook.admins
        meta(property="fb:admins", content=facebook.admins)
    else if devMode
        -console.warn("Warning: No admins for facebook set.");
    if facebook.app_id
        meta(property="fb:app_id", content=facebook.app_id)
    else if devMode
        -console.warn("Warning: No app_id for facebook set.");
